modules = ["nodejs-20", "bash", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"
waitForPort = 8000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 33889
externalPort = 4200

[[ports]]
localPort = 38135
externalPort = 5000

[[ports]]
localPort = 38531
externalPort = 3001

[[ports]]
localPort = 39051
externalPort = 3003

[[ports]]
localPort = 41593
externalPort = 3000

[deployment]
deploymentTarget = "static"
build = ["bash", "-c", "cd frontend && npm run build"]
publicDir = "frontend/dist"

[userenv]

[userenv.shared]
PORT = "8000"
SUPABASE_URL = "https://mqxfgfkrqwaspzosjbwh.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xeGZnZmtycXdhc3B6b3NqYndoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzNTM1MDQsImV4cCI6MjA4MDkyOTUwNH0.vaZDt9OxQM8e-3Xdh7OU5D5mxfIsVQjHUlJ8-_E8Bs8"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1xeGZnZmtycXdhc3B6b3NqYndoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM1MzUwNCwiZXhwIjoyMDgwOTI5NTA0fQ.Hhxa6QffCJ8iMCo1tlPZUM1MPu68HWkYM0D2LNSC-v8"
IMAGEKIT_PUBLIC_KEY = "public_0nFf9f2g4"
IMAGEKIT_PRIVATE_KEY = "private_385bnuWrKb6U+EK+j/GT7meJggw="
IMAGEKIT_URL_ENDPOINT = "https://ik.imagekit.io/fjmnb748e"
